<div class="container p404">

    <div class="content">
        <h2>Playback timed out</h2>
        <p>Please  <a class="refresh">click here</a> to restart the video.</p>
    </div>

</div>
<div class="butterfly"></div>
