.player {
  z-index: 1000;

  position: relative;
  top: 103px;
  left: 163px;

  overflow: visible;

  height: 0;
  width: 392px;

/*  .video-js .vjs-tech {
    height: 220px;
    width: 392px;
  }*/
}

.video-container {
  height: 220px;
  width: 392px;
}

.video-controls-wrapper {
  margin-top: 10px;
  position: relative;
  z-index: 2000;

  #playerslider {
    background: $white;
    border: none;
    cursor: pointer;
    height: 4px;
    position: relative;
    width: 100%;
    z-index: 1;
    &:hover {
      /*height: 8px;
      top: -8px;*/
      a {
        background: $blue;
      }
    }
    a {
      background: $gray-dark;
      border: none;
      cursor: pointer;
      height: 10px;
      margin: 0;
      outline: none;
      top: -3px;
      width: 10px;
    }
    .played {

    }
  }

  .video-images {
    margin-top: 10px;
  }

  .video-controls {
    margin-bottom: 14px;
    margin-top: 0 !important;

    width: 100%;

    background: rgba(0, 0, 0, 0.35);

    div {
      @include no-selection;

      height: 35px;
      padding: 5px 0;
      text-align: center;
      cursor: pointer;

      input {
        border: 0;
        background: transparent;
        color: $white;
        font-size: 11px;
        height: 21px;
        width: 100%;
        resize: none;
        text-align: center;
        overflow: none;
        &:focus {
          outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }

      span.glyphicon {
        @include no-selection;

        color: $white;
        font-size: 14px
      }

      &.col-sm-1 {
        width: 12%;
      }
      &.col-sm-2 {
        width: 28%;
      }
    }
  }
}

/******************************************************/
/******************************************************/
/********************** Player Button *****************/
/******************************************************/
/******************************************************/

.vjs-default-skin {
    color: #CCC !important;

  .vjs-big-play-button {
    margin: auto;
    bottom: 0;
    background-color: rgba(7, 20, 30, 0.5);
    border: 0.05em solid #3B4249;
    border-radius: 0.2em;
    box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
    cursor: pointer;
    display: block;
    font-size: 3em;
    height: 1.8em;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
    width: 3em;
    z-index: 2;

    &:before {
      left: 4px;
      line-height: 1.8em;
      text-shadow: none;
    }
    &:hover,
    &:focus {
      background-color: rgba(0, 153, 255, 0.5);
      box-shadow: none;
    }
  }
}