{#
  Swig Templating!
  Docs: http://paularmstrong.github.io/swig/docs/
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <img src="images/gulp.png" alt="gulp.js">
  {% include "shared/social-icons.html" %}
  <button id="button">Load Async Module</button>
  <p>This one is a sprite</p>
  {{ helpers.sprite('facebook') }}
  {{ helpers.sprite('twitter') }}
  {{ helpers.sprite('pinterest') }}
{% endblock %}

{% block javascript %}
<script src="javascripts/page1.js"></script>
{% endblock %}
