/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
  margin-left: 0;
  list-style: none;
}


  .o-list-inline__item {
    display: inline-block;
  }





/* Delimited list.
   ========================================================================== */

/**
 * By default, applying this class will comma separate your list items. You can
 * change the delimiter by predefining the following variable:
 */

$inuit-list-inline-delimiter:   ",\00A0" !default;

.o-list-inline--delimited {
  font-size: 0;

  > .o-list-inline__item {

    @if ($inuit-oldIE == true) {
      font-size: $inuit-global-font-size;
    }
    font-size: 1rem;

  }

  > .o-list-inline__item + .o-list-inline__item {

    &:before {
      content: "#{$inuit-list-inline-delimiter}";
    }

  }

}
