{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": null,
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "declaration-block-single-line-max-declarations": 1,
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "indentation": 2,
    "max-empty-lines": 1,
    "no-descending-specificity": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-extra-semicolons": true,
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "rule-empty-line-before": [ "always", {
      "except": ["first-nested"],
      "ignore": ["after-comment"]
    }],
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "order/properties-alphabetical-order": true
  }
}
