{% from 'macros/helpers.html' import sprite %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gulp Asset Pipeline{% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/global.css">
  {% block head %}{% endblock %}
</head>
<body>
  <h1>Gulp All The Things!</h1>
  {% include "shared/page-nav.html" %}
  {% block content %}{% endblock %}
  <footer>
    <p>Made with ♥ at <br><a href="http://viget.com">{{sprite('viget', '0 0 500 182')}}</a></p>
  </footer>
  <script src="javascripts/shared.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
