{% import "_includes/forms" as forms %}
{% set title = "Gulprev Settings"|t %}

{% set crumbs = [
    { label: "Settings"|t, url: url('settings') },
    { label: "Plugins"|t, url: url('settings/plugins') }
] %}


<h2>Settings</h2>

{{ forms.textField({
  label: "Blendid rev-manifest.json File Location"|t,
  id: 'gulprev-path',
  name: 'gulprev_path',
  placeholder: '/',
  instructions: 'The directory path (within the public folder) where the rev-manifest file can be found. For example, a path of "/assets" means the file exists at `/public/assets/rev-manifest.json`.'|t,
  value: settings.gulprev_path,
  errors: settings.getErrors('gulprev_path')
}) }}