# Using Capistrano? Use this file
before "deploy:assets:precompile", "deploy:blendid_build"

namespace :deploy do
  desc "Install front end dependencies and compile for production with Blendid"
  task :blendid_build do
    invoke_command "bash -c '. /home/deploy/.nvm/nvm.sh && cd #{release_path} && yarn install && yarn run blendid -- build'"
  end
end
